.catalog {
  margin: 0;
  padding: 0 20px;

  &__title {
    .fonts(36px; 400; #111111; 60px);
    margin: 0;
    padding: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-bottom: 24px;
  }
}
