.catalog__title {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    margin-top: 55px;
    margin-bottom: 260px;
    font-size: 60px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .catalog-title {
    margin-top: 70px;
  }
}
