.features {
  margin: 0;
  padding: 20px 20px;
  background-color: #ffffff;

  &__title {
    .fonts(36px; 400; #111111; 60px);
    margin: 0;
    padding: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    .fonts(14px; 400; #444444; 18px);
  }

  &__text {
    margin: 0;
    padding: 0;
  }
}
