.page-header {
  margin: 0;
  padding: 0 20px;
  background-color: #ffffff;

  &__logo-img {
    display: block;
    width: 33px;
    height: 38px;
    text-decoration: none;
  }

  &__logo-name {
    display: block;
    width: 101px;
    height: 18px;
    text-decoration: none;
  }
}
