.page-header {
  margin: 0 auto;

  //Временно
  height: 264px;
  //background-color: rgba(3, 115, 254, 0.5);
}

.page-header__container {
  .container(@mobile-width; 0);
}

.page-header__top-bar {
  margin: 0 auto;
  padding: 0 20px;

  //Временно
  //background-color: rgba(0, 0, 0, 0.5);
  min-height: 66px; //-1px border bottom
}

@media (min-width: @tablet-width) {
  .page-header {
    margin-top: 24px;

    //Временно
    height: 65px;
  }

  .page-header__container {
    .container(@tablet-width; 30px);

    display: flex;
    justify-content: space-between;

    //Временно
    height: 65px;
  }

  .page-header__top-bar {
    width: 190px;
    margin: 0;
    padding: 0;

    //Временно
    height: 65px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__container {
    .container(@desktop-width; 40px);
    margin-top: 54px;
  }

  .page-header__top-bar {
    width: 245px;
  }
}

.page-header__logo-img {
  display: block;

  max-width: 33px;
  max-height: 38px;
}

.page-header__toggle-menu {
  //временно
  width: 20px;
  height: 20px;
}
