.product-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-card__image-link {
  display: block;
  max-width: 140px;
  max-height: 144px;
}

.product-card__list {
  font-family: @secondaryFont;
  font-size: 12px;
  line-height: 16px;
  color: @gray;
}

.product-card__title {
  margin: 0;

  font-family: @primaryFont;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @black;
  text-align: left;
  text-transform: uppercase;
}

.product-card__volume-measure,
.product-card__taste-measure,
.product-card__price-measure {
  text-align: right;
}

.product-card__button {
  display: block;
  width: 100%;
  padding: 10px 0;

  text-align: center;
  text-transform: uppercase;
  color: @white;

  &--green {
    background-color: @green;
  }
}

@media (min-width: @tablet-width) {
  .product-card {
    flex-direction: column;

    width: 248px;
    margin-bottom: 260px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    width: 169px;
  }
}
